* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
    background-image: url('/client/static/img/background.jpg');
    margin: 0 auto;
	padding: 0;
    display: block;
	width: 100%;
    overflow: auto;
}

.game_window {
    width: 60%;
    height: 80vh;
    float: left;
	overflow: hidden;
    margin:  auto 5vh;
    display: inline-flex;
    flex-wrap: wrap;

}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #000000;
    cursor: pointer;
  }

.overlay-text.visible {
display: flex;
flex-direction: column;
animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
from {
    font-size: 0;
}
to {
    font-size: 30px;
}
}

.team {
    text-align: center;
}

.card {
    width: 20%;
    height: 20%;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.text-on-card {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 18px;
  }

.card:hover {
    cursor: pointer;
    border-radius: 20px;
    border: solid 2px black;
}

.card:active {
    transform: scale(0.95);
    transition: transform .2s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  border-radius: 30px;
  backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
  }


p {
    font-size: 40px;
    font-style: oblique;
    
}

 .team.red {
    color: red;
}

.team.blue {
    color: blue;
}

#menu {
    width: 30%;
    height: 90vh;
    float: right;
	overflow: hidden;
}



table tr td {
    height: 50px;
    width: 50px;
    background-color: white;
    border: solid 2px black;
}

button {
    font-size: 2vw;
}

#show-keys {
    width: 30%;
    float: right;
    overflow: hidden;
}

.red {
    background-color: crimson;
}

.blue {
    background-color: royalblue;
}

.innocent {
    background-color: lemonchiffon;
}

.assassin {
    background-color: black;
}

#chat {
    height: 50%;
    width: 27vh;
    background-color: white;
    border: black solid 2px;
}

@media screen and (max-width: 800px) {
    button {
        font-size: 5vw;
    }

    .game_window{
        height: 40vh;
        margin: auto;
        width: 100%; 
      
    }


    #menu {
        display: inline-flex;
        flex-wrap: wrap;
        width: 100%;
    }


    #key-table {
        float: left;
        width: 50%;
    }

    #chat {
        float: right;
        width: 50%;
    }

    .text-on-card {
        font-size: 10px;
    }

  }





form, p, span {
    margin:0;
    padding:0; }